#Courtesy of Buildcraft

#idea
*.iml
*.ipr
*.iws
.idea
out
build
classes

#eclipse
.project
.classpath
.settings/
.metadata
*.launch
org.*
bin

#gradle
.gradle

#runtime
run
run_server

#mac
.DS_Store

*.hprof
